[Desktop Entry]
Name=Install Super-OS
GenericName=OS Installer
Comment=Install Super-OS to your hard drive
Exec=sh -c "pkexec calamares -d"
Icon=system-software-install
Terminal=false
Type=Application
Categories=System;
StartupNotify=true
NoDisplay=false
